h1 {
    font-size: 50px;
    /* para el tamaño de fuente */
    font-family: sans-serif;
    /* tipo de fuente */
    font-weight: bold;
    /* pesos de los titulos */
}

h2 {
    font: bold 14 px sans-serif;
    /* todo en uno */
}

body {
    text-align: center;
    /* alineacion de textos */
}

header,
section,
footer,
aside,
nav,
article,
hgroup {
    display: block;
}

.agrupar {
    width: 1000px;
    /* ancho de la pagina */
    background-color: rgb(29, 4, 97);
    /* fondo de la pagina */
    margin: 25px auto;
    /* margenes automaticos o con pixeles, margen espacio hacia afuera*/
    padding: 40px;
    /* relleno, espacio que vas hacia adentro */
}

header {
    background-color: rgb(38, 0, 255);
    /* color de fondo en el header */
}

.cabezera {
    background-color: white;
    border: 1px solid black;
}

.cabezera h1 {
    text-align: left;
    padding: 20px;
}

.menu {
    background-color: whitesmoke;
    padding: 5px 15px;
    /* (arriba y abajo && izquierda y derecha) */
    text-align: left;
    /* alineacion izquierda */
    border: 1px solid black;
}

.menu li {
    /* todos los elementos li dentro la clase menu cambian */
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    /* border: 1px solid black; /  / bordes para el elemento */
    display: inline-block;
    /* alineacion uno al lado del otro */
}

.seccion {
    background-color: black;
    margin: 20px;
    width: 58%;
    /* ancho del contenido */
    border: 1px solid black;
    float: left;
    /* etiqueta para hacer flotar el contenido idicando la direccion */
}

.columna {
    background-color: rgb(105, 19, 121);
    margin: 20px 0px;
    width: 36%;
    border: 1px solid black;
    float: left;
}

.pie {
    clear: both;
    padding: 20px;
    background-color: cornflowerblue;
    font: bold 16px times new roman;
}

.seccion article {
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    border: 1px solid whitesmoke;
}

.seccion h2 {
    text-align: left;
}

.seccion footer {
    text-align: left;
    padding: 15px;
    color: brown;
}

.seccion p {
    text-align: justify
}

.seccion img {
    width: 80px;
    display: block;
    margin: auto;
    padding: 10px;
}

.columna blockquote {
    border: 1px solid black;
    background-color: white;
    padding: 80px;
    font: bold 14px sans-serif;
}